<!DOCTYPE html>
<html>
  <head>
    <title>Parking History</title>
  </head>
  <body>
    <h1>Parking History for {{ data.phone }}</h1>
    <p>Car Number: {{ data.car_number }}</p>
    <table>
      <tr>
        <th>Date</th>
        <th>Duration</th>
        <th>Location</th>
      </tr>
      {% for history in data.parking_history %}
      <tr>
        <td>{{ history.date }}</td>
        <td>{{ history.duration }}</td>
        <td>{{ history.location }}</td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>